.siled .module .cont > div{
    margin-bottom: 0
}
.siled .module table{
    width: 100%;
    font-size: 14px;
    border-collapse:collapse;
}
.siled .module table th{
    font-weight: 400;
    padding-left: 28px;
}
.siled .module table tbody td{
    position: relative;
    font-size: 12px;
    padding:18px 0 18px 28px;
    color: rgba(0,0,0,.65);
    box-shadow:0px 1px 0px 0px rgba(222,225,227,1);
}
.siled .userData .module:last-child table tbody td{
    white-space: nowrap;
}
.siled .userData .module:last-child table tbody td:last-child{
    white-space: normal;
    padding-right: 10px;
}
.siled .module table thead tr{
    height: 40px;
    font-size: 14px;
    text-align: left;
    color: rgba(0,0,0,.85);
    background-color: #F7F7F7;
    white-space: nowrap;
}
.siled .module table .time em{
    padding-right: 4px;
    color: #2492FC
}
.siled .module table .txt{
    position: relative;
    max-height: 40px;
    line-height: 18px
}
.siled .module table.xdr .txt{
    width: 150px
}
.siled .module table p.alt{
    display: none;
    position: absolute;
    z-index: 999;
    width: 300px;
    top: 0;
    max-width: 330px;
    padding: 8px;
    border-radius: 3px;
    background: rgba(0,0,0,.65);
    color: #fff;
}
.siled .module table p.alt i{
    position: absolute;
    bottom: -8px;
    left: ;
    border: 4px solid rgba(0,0,0,.65);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.siled .module table .txt.active{
    color: #0066CC;
    cursor: pointer;
}
.siled .module table .txt.active::after{
    content: "..."; 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    padding-left: 40px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}
.siled .module .userTab::after{
    content: '';
    display: table;
    visibility: hidden;
    clear: both;
}
.siled .module  .userTab span,.siled .module .userTab_ec span{
    float: left;
    width: 122px;
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    border:1px solid #CDCFD1;
    border-radius: 3px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.siled .module  .userTab span.disabled{
    background: #F3F4F5;
    color: rgba(0,0,0,.25);
    pointer-events: none;
}
.siled .module  .userTab span.active,.siled .module .userTab_ec span.active{
    border: 1px solid #FF5975;
    color: #FF5975
}
.siled .module .userTab span.abnormal::after,.siled .module .userTab_ec span.abnormal::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: 6px solid #ff3300;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
}
.siled .module .userTab_ec{
    
}
.siled .business .module .cont{
    padding-top: 24px;
}
.siled .business table .yc301{
    color: #ff0739
}
.siled .business table th:first-child,.siled .business table td:first-child{
    width:16%;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
}
.siled .business table thead th:first-child{
    width: 16%
}
.siled .wireless .module:first-child table th:first-child,.siled .wireless .module:first-child table td:first-child{
    padding-left: 28px;
    width: 16%
}
.siled .performance .module .userTab_ec{
    width: 860px
}
.siled .performance .module .userTab_ec span{
    width: 194px;
    margin-bottom: 16px;
}

.siled .u_Tab{
    height: 40px;
    margin: 0 20px 0;
    border-bottom: 1px solid #DCDEE3;
}
.siled .u_Tab span{
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.siled .u_Tab span.active{
    border-bottom: 2px solid #2492FC;
    color: #2492FC
}
.siled .u_Tab span:first-child{
    border-right: 0;
    margin-left: 0;
}

.siled table.xdr td{
    word-break: break-all;
}
.siled .uCharts{
    width: 100%;
    margin: 20px auto 0
}
.siled .uCharts > div:first-child{
    width: 100%;
    height: 400px;
} 
.siled .uCharts .no-chart {
    display: none;
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,.65);
    margin: 64px 0
}
.siled .uCharts .no-chart img{
    width: 230px;
    height: 230px;
    margin-right: 64px;
    vertical-align: middle;
}
.siled .uCharts a{
    color: #333
}
.siled .scrollBar{
    margin-top: 10px
}
.siled .scrollBar .move{
    position: relative;
    height: 20px;
    margin: 20px 36px 32px;
}
.siled .scrollBar .move::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #DEE1E3;
}
.siled .scrollBar .move span{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 20px;
    height: 20px;
    border: 1px solid #2492FC;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.siled .scrollBar .move em{
    position: absolute;
    top: -35px;
    left: 0;
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,.65);
    border-radius: 3px;
}
.siled .scrollBar .move em::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 8px;
    border-top: 3px solid rgba(0,0,0,.65);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.siled .information{
    display: none;
    padding-top: 32px;
    position: relative;
    overflow: visible;
}
.siled .information .coordinate{
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0,.85);
}
.siled .information .coordinate span:first-child{
    margin-right: .6em
}
.siled .information table .goIn{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url(../images/goIn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.siled .information table .goIn:hover{
    background-image: url(../images/goIn_active.png);
}
.siled .userData .module{
    margin-top: 0;
}
.siled .userData .module:first-child{
    padding-top: 20px;
}
.siled .userData .xdr{
    padding: 0 20px;
    overflow-x: auto;
}
.siled .userData .controlNood{
    height: 400px;
    padding-top: 40px;
    position: relative;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.siled .userData #ssl{
    width: 541px;
}
.siled .userData #ssl1{
    margin-top: 46px;
    width: 450px;
    height: 230px;
    box-shadow:0px 6px 32px -5px rgba(1,54,105,0.23);
}
.siled .userData .statistical em{
    border: 12px solid #fff;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: -24px;
    top: 76px;
}
.siled .userData .userNood{
    padding-top: 15px;
}
.siled .userData .userNood > div:first-child{
    font-size: 0;
    position: relative;
}
.siled .userData .userNood .pie{
    display: none;
    position: absolute;
    top: 0;
    left: ;
    width: 350px;
    height: 215px;
    box-shadow:0px 6px 32px -5px rgba(1,54,105,0.23);
}
.siled .userData .userNood .pie em{
    border-right: 12px solid #fff;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: -24px;
    bottom: 30%;
}
.siled .userData .userNood .pie em.right{
    border-right: 12px solid transparent;
    border-left: 12px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    right: -24px;
    left: auto;
}
.siled .userData #yhm{
    height: 410px;
    width: 100%;
}
.siled .userData #yhm1{
    height: 100%;
    width: 100%;
    background: #fff
}
.siled .userData #yhs{
    height: 420px
}


.siled .module .cont.abnomal .no-data {
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,.65);
    margin: 64px 0
}
.siled .module .cont.abnomal .no-data img{
    width: 230px;
    height: 230px;
    margin-right: 64px;
    vertical-align: middle;
}
.siled .module .cont.abnomal .tables{
    display: none;
    margin-top: 24px;
}
.siled .module .cont.abnomal .tables.table-active {
    display: block;
}
